* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {
  font-family: "Overpass", sans-serif;

}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: white;
}
.weather__container{
  width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 20px;
  background-color: lightblue;
  transition: 0.4s ease-out;
}
.weather__container.warm{
  width: 300px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 20px;
  background-color: lightcoral;
  transition: 0.4s ease-out;
}

.temp {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;

  padding: 15px 25px;

  color: #fff;
  font-size: 102px;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  align-items: center;

  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.weather__box > .weather{
  font-size: 48px;
  font-weight: 700;
  text-shadow: 3px 3px rgba(55, 74, 250, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.weather__container >  input{
  height: 30px;
  margin-bottom: 10px;
  background-color: white;
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.location{
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.2);
}
.date{
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.2);
}
.github__logo{
  margin-top: 10px;
  margin-bottom: 10px;
  object-fit: contain;
  width: 100px;
  margin-right: auto;
  margin-left: auto;
}